.site-footer {
    margin-top: 0px;
}

.site-footer .social {
    justify-content: center;
}

.footer-inner {
    padding: 0 0 20px 0;
}

.copyright {
    text-align: center;
}

.copyright a {
    text-decoration: underline;
}
